.group-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.group-details > img {
    height: 300px;
    border-radius: 15px;
    border-style: 1px solid black;
}

.back-to-groups {
    align-self:flex-start;
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    background: none;
    cursor: pointer;
}

.group-events > h1 {
    text-align: center;
}