.event-tile {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding-bottom: 2%;
    margin-bottom: 3%;
    border: 3px solid darkgray;
}

.event-details-link {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    object-fit: contain;
    width: 300px;
    height: 200px;
}

.event-tile > span {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

.event-tile > a > img {
    display: inline-block;
    height: 70%;
    max-width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
}

.event-details-section {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.edit-event-link, .delete-event-link {
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    background: none;
    cursor: pointer;
}
