.group-tile {
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding-bottom: 5%;
    margin-bottom: 3%;
}

.group-details-link {
    display: inline-flex;
    object-fit: contain;
    width: 300px;
    height: 200px;
}

.group-tile > a > img {
    display: inline-block;
    height: 100%;
    max-width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
}

.group-details-section {
    display: flex;
    flex-direction: column;
    padding: 4%;
}
