h1 {
    font-size: 3em;
    font-weight: 900;
    text-shadow: 2px 0 black;
}

h2 {
    font-size: 2em;
    font-weight: 900;
}

.top-section, .options-section, .buttons-section, 
.search-section, .lower-options-section, .upcoming-events, 
.popular-groups {
    padding-left: 10%;
    padding-right: 10%;
}

.top-section {
    padding-top: 7.5%;
    display: flex;
    height: 250px;
}

.top-section-img {
    display: inline-flex;
    height: 100%;
    padding-left: 4%;
    padding-top: 3%;
    z-index: -1;
}

.top-section-text {
    width: 50%;
    z-index: -1;
}

.search-button {
    border-radius: 40px;
    font-size: 14px;
    line-height: 1;
    padding: 1rem;
    background-color: #008294;
    border-color: #008294;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    text-decoration: none;
}

.options-section {
    display: flex;
    padding-top: 7%;
}

.individual-option {
    display: inline-flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}

.individual-option > a {
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
}

.individual-option > img {
    border-radius: 5%;
}

.buttons-section {
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}


.search-section {
    display: flex;
    padding-top: 5%;
}

.left-search, .right-search {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}

.left-search-and-button-container {
    display: flex;
    width: 70%;
}

.left-search-and-results-container {
    display: inline-flex;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-search-container {
    width: 100%;
    z-index: 2;
}

.left-search-input {
    display: inline-flex;
    height: 50px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.left-navigation-search-button {
    height: 57px;
    background-color: rgba(246,88,88,1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90px;
}

.right-search-buttons {
    display: flex;
    flex-wrap: wrap;
}

.right-search-buttons > a {
    margin-right: 2%;
    margin-bottom: 2%;
}

.lower-options-section {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:300px;
}

.picture-options {
    padding-top: 2%;
    display: inline-flex;
}

.lower-option {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    width: 33%;
    height: auto;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.lower-option > a {
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
}

.lower-option > img {
    height: 50%;
    width: 50%;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}


.upcoming-events-header, .popular-groups-header {
    display: inline-flex;
    justify-content: space-between;
}


.explore-link {
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
}


.popular-groups {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.event-tiles-section, .group-tiles-section {
    display: inline-flex;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}