.top-section {
    display: flex;
    height: 250px;
}

.top-section-img {
    display: inline-flex;
    height: 100%;
}

.top-section-text {
    width: 50%;
}

.upcoming-events-header, .popular-groups-header {
    display: inline-flex;
}

.search-button {
    border-radius: 40px;
    font-size: 14px;
    line-height: 1;
    padding: 1rem;
    background-color: #008294;
    border-color: #008294;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    text-decoration: none;
}

.options-section, .buttons-section, .search-section, .lower-options-section, .upcoming-events, .popular-groups {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}

.lower-options-section {
    height:300px;
}

.lower-option {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    width: 33%;
    height: auto;
}

.lower-option > img {
    height: auto;
}

.upcoming-events, .popular-groups {
    display: flex;
    flex-direction: column;
}

.event-tiles-section, .group-tiles-section {
    display: flex;
}