.group-form-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.group-form {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    padding: 20px;
    border-radius: 40px;
}

.group-form > label {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.group-form-button-container {
    display: flex;
    justify-content: space-between;
}

.group-form-button-container > button {
    border-radius: 10px;
    font-size: 14px;
    line-height: 1;
    padding: 1rem;
    background-color: rgba(246,88,88,1);
    border-color: rgba(246,88,88,1);
    cursor: pointer;
    color: #fff;
    fill: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    text-align: center;
    border: 3px solid rgba(246,88,88,1);
}