.event-details {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details > img {
    height: 300px;
    border-radius: 15px;
    border-style: 1px solid black;
}

.back-to-events {
    align-self:flex-start;
    text-decoration: none;
    color: #008294;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    background: none;
    cursor: pointer;
}