.signup-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25%;
    margin-left: 10%;

    border: 3px solid darkgray;
    border-radius: 25px;

    margin-top: 5%;
    margin-bottom: 10%;
}

.signup-form > label {
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
}

.signup-form > label > input {
    margin-left: 15px;
}

.signup-form > button {
    width: 50%;
    align-self: center;
    background-color: rgba(246,88,88,1);
    margin-top: 15px
}