#modal-content {
    border-width: 5px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 25px;
    height: 20%;
    padding-bottom: 25px;
    display: flex;
}

#modal-content > form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#modal-content > form > label {
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
}

#modal-content > form > label > input {
    margin-left: 15px;
}

#modal-content > form > button {
    width: 50%;
    align-self: center;
    background-color: rgba(246,88,88,1);
    margin-top: 15px
}